/* .rbc-header {
    border: 1px solid black;
}

.rbc-event {
    background-color: blue;
}

.rbc-active {
    border: 1px solid black;
    margin: 5px;
}

.rbc-day-bg {
    background-color: white;
    border: 1px solid black;
} */